<%= stylesheet_link_tag '/partials/layout/navigation.css' %>

<nav class="navbar navbar-inverse navbar-fixed-top" style="color:#ad5d50">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/gator-pic.png" alt="gator">
      <button type="button">
        <a href="http://github.com/kkreine">
            <img src="github.png" alt="gator">
          </div>
    </div>
        </a>
      </button>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'home', root_path, class: 'navbar-brand' %></li>
      <li><%= link_to 'experience', resume_path %></</li>
      <li><%= link_to 'education', education_path %></li>
      <li><%= link_to 'about', about_path %></li>    
    </ul>
  </div>
</nav>